p {
    font-size: calc(14px + 0.6944444444444444vw);
}

.footer-link p {
    font-size: 12px;
}

@media screen and (max-width: 576px) {
    .tm-social-icons-container {
        position: fixed;
        top: 20px;
        left: 15px;
    }
}